@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: linear-gradient(to right, #23074d , #cc5333);
}


.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.container #headerText{
    margin-bottom: 5rem;
    font-size: 4rem;
    color: white;
    opacity: 0.5;
}

.wrapper{
    
    padding: 20px 20px 20px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}

.main{
    margin-bottom: 2rem;
}

.main #ihave{
    width: 10rem;
    height: 2.5rem;
    border:none;
    appearance: none;
    border-bottom: 1px solid #c0c0c0;
    text-align: center;
}
.main #amount{
    width: 15rem;
    height: 2.5rem;
    border:none;
    border-bottom: 1px solid #c0c0c0;
    outline: none;
    text-align: center;
    transition: all 0.3s;
}
.main #amount:focus{
    border-bottom: 1px solid #cc5333;
}
.main2 #buy{

    width: 10rem;
    height: 2.5rem;
    border:none;
    appearance: none;
    border-bottom: 1px solid #c0c0c0;
    text-align: center;

}
.main2 #equals{

    width: 15rem;
    height: 2.5rem;
    border:none;
    border-bottom: 1px solid #c0c0c0;
    outline: none;
    text-align: center;
    transition: all 0.3s;

}

.main2 #equals:hover{
    cursor: default;
}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;

}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.wrapper .images{
    
    height: 100px;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper .images .valuesByDate{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.wrapper .images .chart{
    width: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;

}

